extends ../../layout

block title
	title РЕДАКТИРОВАТЬ ТОВАР

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title ТОВАР
		.nav_project_children
		br
		b.nav_settings_title настройки
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth/items') < Назад
		.title РЕДАКТИРОВАТЬ ТОВАР
		form(action="", enctype="multipart/form-data", method="post")
			.form_title Название:
			input.ru(type="text", name="ru[title]", value=item.title.ru)
			input.en(type="text", name="en[title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)= item.description.ru
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Цена:
			input(type="text", name="price", value=item.price)
			.form_title Размер:
			.size_block
				.size_title S:
				input.size(type="text", name="size[s]", value=item.size.s)
				.size_title M:
				input.size(type="text", name="size[m]", value=item.size.m)
				.size_title L:
				input.size(type="text", name="size[l]", value=item.size.l)
				.size_title XL:
				input.size(type="text", name="size[xl]", value=item.size.xl)
			.form_title Категория:
			select(name='category')
				option(value='l_up') левый верхний
				option(value='r_up') правый верхний
				option(value='l_dw') левый нижний
				option(value='r_dw') правый нижний
			.form_title Фото:
			input(type="file", name="image", accept="image/*")
			br
			br
			input(type='submit', value='отправить')